* {

    box-sizing: border-box;
}



body{
    margin: 0;
    font-family: "Raleway", sans-serif;
}
/* HEADER */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav img{
    margin-left: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    margin-right: 10px;
}

nav li{
    margin: 0 10px 0 20px;
     }
  .searchbox {
      display: flex;
    }

.localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 29px;
    border-radius: 25px 0 0 25px;
    background-color: rgb(243, 239, 239);
    border: none;
    outline: none;
}
input {
    display: flex;
    height: 30px;
}
  
input[type="text"]
{
    position: relative;
    border: none;
    outline: none;
}

input[type="submit"]
{
    position: relative;
    height: 31px;
    border-radius: 0 25px 25px 0;
    left: -10px;
    border: none;
    outline: none;
    background-color: cornflowerblue;


}

.filters {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
    align-items: flex-end;
}

.filters p {
    font-weight: bold;
}


.filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    padding: 1px;
    border: 1px solid rgb(218, 205, 205);
    border-radius: 30px;
    width: 160px;
}

.info {
    display: flex;
    align-items: center;
    font-size: small;
    margin: 25px;
}


/* HEADER */

 h1 {
    margin-left: 10px;
 }

 /* MAIN */

 .container {
     background-color: rgb(250, 246, 246);
     border-radius: 25px;
     margin-left: 10px;
     margin-right: 10px;
 }

 .all-box {
     width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
 
.box {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: whitesmoke;
    width: 30%;
    border-radius: 25px; */
    /* height: 100px; */
    
}

.image {
    /*position: absolute;*/
    object-fit: cover;
    height: 150px;
    width: 200px;
    /*background-color: grey;*/
}





/* MAIN */
 
/* FOOTER */

footer {
    justify-content: center;
    align-items: flex-end;
    background-color: #F2F2F2;
    margin: 0;
}


#footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 500px;
}

.footer-items h3 {
    font-weight: 900;
}

.footer-item li {

    list-style-type: none;
    padding: 20px, 10px;
   
}

.footer-item ul {
    margin-top: 10px;
}

/* FOOTER */

