* {

    box-sizing: border-box;
}



body{

    font-family: "Raleway", sans-serif;
    margin: 0;
}
/* HEADER */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}



#logo {
    padding: 0;
}

nav ul{
    display: flex;

}

nav li{
    margin: 0 10px 0 20px;
    text-decoration: none;
    list-style: none;
    
    }

    nav a {
        text-decoration: none;
        color: black;
    }

.link:hover {
    color: white;
}

.info {
    margin-top: 100px;
}

main {
    width: 98%;
    max-width: 1440px;
    margin: auto;
  }
  
  .title-h1 {
    font-size: 32px;
    margin: 10px 0;
  }
  
  .subtitle {
    margin: 6px 0px;
  }
  
  .research-box {
    display: inline-flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 35px;
  }
  
  .icon-location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 14px 0 0 14px;
  }
  
  .fa-map-marker-alt {
    font-size: 17px;
  }
  
  .research-bar {
    padding: 0 0 0 20px;
    height: 50px;
    width: 220px;
    border: none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
  }
  
  .research-bar::placeholder {
    color: rgb(170, 170, 170);
    font-size: 16px;
    font-weight: 600;
  }
  
  .button-research {
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
  }
  
  .button-research:hover {
    background-color: #003c96;
    transition: ease 0.3s;
  }
  
  #icon-glass {
    display: none;
  }
  
  .filters h3 {
    font-size: 24px;
    display: inline;
  }
  
  .filters ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .filters ul li {
    display: inline;
    margin-left: 25px;
    font-weight: 700;
    border: solid 2px #e2e2e2;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 200px;
  }
  
  .filters ul li:hover {
    cursor: pointer;
    background: #DEEBFF;
    transition-duration: 0.25s;
  }
  
  .filters ul li:hover .icon-filter {
    background: white;
    transition-duration: 0.25s;
  }
  
  .icon-filter {
    background-color: #DEEBFF;
    color: #0065fc;
    padding: 18px;
    border-radius: 200px;
    margin-right: 15px;
  }
  
  .info .fas {
    color: #0065fc;
    font-size: 16px;
    padding: 7px 11px 7px 11px;
    border: solid 1px #D9D9D9;
    border-radius: 2000px;
    margin-right: 20px;
  }
  
  .info p {
    display: inline;
  }
  



 
/* Footer */
.footer {
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-blocs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
  }
  
  .footer-bloc {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .footer-bloc > * {
    margin-bottom: 10px;
  }
  
  .footer-title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .footer-link:hover {
    cursor: pointer;
    text-decoration-line: underline;
  }
  
  .footer-bloc-assistance {
    margin-right: 20%;
  }
  

